<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./main.css">
  <title>json data</title>
</head>

<body>
  <div class="container">
    <div class="main_container">
      <h1>
        <%= joke %>
          😒
      </h1>
    </div>
    <h2> 👉<%= ans %>😉
    </h2>

    <button id="btn" onclick="refreshPage()">New Joke</button>
  </div>




  <script>
    function refreshPage() {
      location.reload();
    }
  </script>
</body>

</html>